<a href="https://colab.research.google.com/github/testtzlaffe/desafio-nlp-coronavirus-tweets/blob/main/DesafiosNLP_CoronavirusTweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd

In [36]:
pd.set_option('display.max_colwidth', None)

In [37]:
train_dataset = pd.read_csv('Corona_NLP_train.csv', encoding='latin-1')
test_dataset = pd.read_csv('Corona_NLP_test.csv', encoding='latin-1')

In [38]:
train_dataset.head(2)

   UserName  ...  Sentiment
0      3799  ...    Neutral
1      3800  ...   Positive

[2 rows x 6 columns]

In [39]:
test_dataset.tail(2)

      UserName  ...           Sentiment
3796      3797  ...  Extremely Negative
3797      3798  ...  Extremely Positive

[2 rows x 6 columns]

In [46]:
tweet_sentiment_columns = ['OriginalTweet', 'Sentiment']
train_dataset = train_dataset[tweet_sentiment_columns]
test_dataset = test_dataset[tweet_sentiment_columns]

In [47]:
train_dataset.head(1)

                                                                                                     OriginalTweet Sentiment
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/iFz9FAn2Pa and https://t.co/xX6ghGFzCC and https://t.co/I2NlzdxNo8   Neutral

In [48]:
test_dataset.head(1)

                                                                                                                                                                                                                          OriginalTweet           Sentiment
0  TRENDING: New Yorkers encounter empty supermarket shelves (pictured, Wegmans in Brooklyn), sold-out online grocers (FoodKick, MaxDelivery) as #coronavirus-fearing shoppers stock up https://t.co/Gr76pcrLWh https://t.co/ivMKMsqdT1  Extremely Negative

In [49]:
train_dataset.shape

(41157, 2)

In [50]:
test_dataset.shape

(3798, 2)

In [51]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41157 entries, 0 to 41156
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OriginalTweet  41157 non-null  object
 1   Sentiment      41157 non-null  object
dtypes: object(2)
memory usage: 643.2+ KB

In [52]:
test_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3798 entries, 0 to 3797
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OriginalTweet  3798 non-null   object
 1   Sentiment      3798 non-null   object
dtypes: object(2)
memory usage: 59.5+ KB